.content-wrapper-home {
    display: flex;
    flex-direction: row;
    background: #CCC5B9;
    justify-content: space-between;
    margin-bottom: 2rem;
    .content-text-home {
        padding: 5rem 6rem;
        h1 { font-size: 60px ;}
        .subtitle { font-size: 25px; }

        .button-register {
            text-decoration: none;
            color: #fff;
            background: #28eb48;
            padding: 2rem 3rem;
            border-radius: 50px;
            margin-top: 1rem;
            display: inline-block;
            font-weight: bold;
        }
    }
    .image-home {
        img {
            width: 40rem;
        }
    }
}